.nft-ListNft-page {
    margin-top: 64px;

    .title-ListNft {
        color: #fff;
        font-weight: 700;
        font-size: 28px;
    }

    .digitalArtwork-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-digitalArtwork {
            font-weight: 700;
            font-size: 28px;
            color: #fff;
        }

        a {
            color: #BCC7E3;
        }
    }

    .digitalArtwork-card {
        margin-top: 30px;

        .ant-row {
            .ant-col {
                margin-bottom: 44px;
            }
        }

        .digitalArtwork-content {

            .digitalImg {
                position: relative;
                overflow: hidden;
                height: 290px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .5s;

                    &:hover {

                        transition: transform .5s;
                        transform: scale(1.2);
                    }
                }
            }

            .digitalArtwork-info {
                .highest-bid {
                    background: #23262F;
                    padding: 16px;
                    display: flex;
                    justify-content: space-between;
                    .icon {
                        height: initial;
                        width: 35px;
                        border-radius: 50%;
                    }

                    span {
                        margin-left: 10px;
                    }
                    .status {
                        padding: 5px 16px 5px 14px;
                        background: rgba(221, 68, 96, 0.2);
                        border-radius: 3px;
                        margin-right: 8px;
                        color: #DD4460;
                      }
                }

                .content {
                    background: #060A13;
                    padding: 16px;

                    .title {
                        font-weight: 700;
                        font-size: 18px;
                    }

                    .price {
                        padding: 6px 0;
                        font-weight: 700;

                        .price-item {
                            color: #DD4460;
                            background: rgba(221, 68, 96, 0.2);
                            padding: 5px;
                            border-radius: 2px;
                            margin-left: 8px;
                            font-weight: 700;
                        }
                    }
                }

                .countdown-form {
                    background: #060A13;
                    display: flex;

                    .countdown-item {
                        width: 25%;
                        font-weight: 700;
                        font-size: 16px;
                        padding: 14px 25px;
                        border-top: 1px solid #26282C;
                    }

                    :nth-child(1),
                    :nth-child(2),
                    :nth-child(3) {
                        border-right: 1px solid #26282C;
                    }
                }
            }
        }
    }
}