.connect-wallet {
  &__icon {
    padding-right: 5px;
  }

  &__button {
    max-height: 40px;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 21px;
    // letter-spacing: 0.04em;
    padding: 7.5px 24px;

    .button--left {
      display: flex;
      align-items: center;
    }
  }
}
