.blog-home {
  margin-top: 64px;

  .blog-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-blog {
      font-weight: 700;
      font-size: 28px;
      color: #fff;
    }

    a {
      color: #BCC7E3;
    }
  }

  .blog-card {
    margin-top: 30px;

    .ant-row {
      .ant-col {
        margin-bottom: 44px;
      }
    }

    .blog-content {
      .blogImg {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          transition: transform .5s;

          &:hover {

            transition: transform .5s;
            transform: scale(1.2);
          }
        }

      }

      .blog-info {

        .content {
          background: #060A13;
          padding: 16px;

          .title {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
          }

          .decs {
            padding: 6px 0;
            color: #C6CBD8;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
  }
}